{% layout 'password' %}

<div class="password-page">
  <div class="password-page__content">
    <h1>{{ shop.name }}</h1>
    {% if shop.password_message != blank %}
      <div class="password-message">
        {{ shop.password_message }}
      </div>
    {% endif %}
    
    {% form 'storefront_password' %}
      {% if form.errors %}
        <div class="password-errors">
          {{ form.errors | default_errors }}
        </div>
      {% endif %}
      
      <div class="password-field">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <button type="submit">Enter</button>
      </div>
    {% endform %}
  </div>
</div>